@model LightHouse.Models.Donate
<style>
    .error {
        color: red;
    }
</style>
@using (Html.BeginForm("Signup", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Donor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "error" })
                <div class="form-group">
            @Html.LabelFor(model => model.Dname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dname, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dusername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dusername, new { htmlAttributes = new { @class = "form-control", @id = "User" } })
                @Html.ValidationMessageFor(model => model.Dusername, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dpassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Dpassword, new { @class = "form-control", placeholder = "Password", @id = "pwd" })
                @Html.ValidationMessageFor(model => model.Dpassword, "", new { @class = "error" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DPhone, "", new { @class = "error" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Daddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Daddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Daddress, "", new { @class = "error" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Bbloodgroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bbloodgroup, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bbloodgroup, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
            
        </div>

    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
